ui = true
api_addr = "https://127.0.0.1:8200"
cluster_addr = "https://127.0.0.1:8201"

listener "tcp" {
  address       = "127.0.0.1:8200"
  tls_cert_file = "${vault_tls_cert}"
  tls_key_file  = "${vault_tls_key}"
}

storage "file" {
  path = "/var/lib/vault"
}

{% if vault_tls_cert != "disabled" %}
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "${vault_tls_cert}"
  tls_key_file  = "${vault_tls_key}"
}
{% endif %}
