# cmd/ml-generator/requirements.txt
# Core ML
tensorflow==2.21.0
keras==3.14.1
numpy==2.4.6
pandas==2.2.3

# API
uvicorn==0.34.0
fastapi==0.115.6
pydantic==2.10.3
python-multipart==0.0.27

# MLOps
mlflow==3.11.1
dvc[s3]==3.58.0
prometheus-client==0.21.1

# Utils
pika==1.4.1
redis==5.2.1
